@media (max-width:1480px ) {
    .header {
        padding: 47px 15px;
    }
    .creative-section {
        padding: 100px 15px;
    }
}
@media (max-width:1020px ){
    .title-wrapper h1 {
        font-size: 60px;
    }
    .future-section {
        padding: 150px 40px;
    }
    .future-section img {
        width: 100%;
    }
}
@media (max-width:950px ) {
    .col-7 {
        width: 50%;
    }
    .col-5 {
        width: 50%;
    }
    .option-bar h2 {
        font-size: 50px;
    
    }
    .option-bar p {
        font-size: 13px;
    
    }
    .box-img img {
        width: 100%;
        margin-top: -115px;
    }
    .option-section {
        padding: 100px 50px;
    }
    .box-link h4 {
        font-size: 14px;
    }
    .future-section h3 {
        font-size: 25px;
        line-height: 41px;
    }
    .future-section h1 {
       font-size: 100px;
        line-height: 5px;
    }
}